.container{
    border: 1px solid #8f8a8a;
    padding: 10px;
}

.item{
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}


.item-dots{
    flex: 1;
    border-bottom: 1px dashed #ddd;
    margin: 0px 10px;
}

.item-lable{
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    background-color: var(--color);
}