.color-swatch{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.color-swatch-item{
    height: 25px;
    width: 25px;
    margin: 3px;
    border-radius: 100%;
    background-color: var(--color);
}